<footer class="app-footer">
  <!-- TODO: share url -->
  <a class="app-footer__item">
    <amp-img
      src="https://www.mirrormedia.mg/public/icon/line_white.png"
      width="40"
      height="16"
    >
    </amp-img>
  </a>
  <a class="app-footer__item">
    <amp-img
      src="https://www.mirrormedia.mg/public/icon/facebook_white.png"
      width="16"
      height="24"
    >
    </amp-img>
  </a>
  <a class="app-footer__item">
    <amp-img
      src="https://www.mirrormedia.mg/public/icon/google-plus.png"
      width="24"
      height="16"
    >
    </amp-img>
  </a>
</footer>